@import 'sources/styles/variables.scss';
@import 'sources/styles/media-mixin.scss';

.card {
  width: inherit;
  height: 551px;
  margin-right: 10px;

  @include _1440 {
    width: inherit;
  }

  @include _600 {
    height: 406px;
    margin: 0 auto;
  }

  .img {
    height: 475px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    @include _1440 {
      width: inherit;
    }

    @include _600 {
      height: 316px;
      min-width: 100%;
      margin: 0 auto;
    }

    .favorite {
      position: absolute;
      top: 12px;
      right: 12px;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover path {
        opacity: 0.6;
      }

      path {
        fill: #ffffff;
      }
    }

    .controls {
      position: absolute;
      bottom: 12px;
      left: 50%;
      display: flex;
      justify-content: space-between;
      list-style: none;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 50px;
      padding: 4px;
      margin: 0;
      transform: translate(-50%, 0);
      width: 54px;

      .circle {
        display: block;
        width: 8px;
        height: 8px;
        background: #C4C4C4;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
          background: $blue;
        }
      }

      .active {
        background: $blue;
      }
    }

    .tag, .tagNew {
      position: absolute;
      bottom: 12px;
      padding: 4px 8px;
      left: 12px;
      background-color: $pink;
      width: 54px;
      border-radius: 8px;
      text-align: center;
      color: #ffffff;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    }

    .tagNew {
      background-color: $green;
    }
  }

  .description {
    margin-top: 20px;

    .top {
      margin-bottom: 8px;
    }

    .top, .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
    }

    .price {
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
    }

    .subtitle, .subprice {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: var(--subcolor-text);
    }
  }
}