@import 'sources/styles/media-mixin.scss';

.link {
  padding: 0 16px;

  @include _1000 {
    padding: 0 10px;
  }

  a {
    text-decoration: none;
    color: var(--color-nav-link);
    font-size: 18px;
    font-weight: normal;
    transition: all 0.5s ease;

    @include _820 {
      font-size: 15px;
    }

    &:hover {
      color: var(--hover-nav-link);
    }

    &:hover svg {
      path {
        fill: var(--hover-nav-link);
      }
    }
  }

  svg {
    transition: all 0.5s ease;
    
    path {
      fill: var(--color-nav-link);
    }
  }
}

.active { 
  a {
    font-weight: bold;
    color: var(--hover-nav-link);
  }
}