@import 'sources/styles/media-mixin.scss';

.sample {
  min-height: 750px;
  margin: 0 auto;
  padding: 0 70px 38px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include _960 {
    padding: 31px 20px 24px;
  }

  @include _768 {
    min-height: 500px;
  }

  @include _600 {
    padding: 31px 16px 24px;
  }

  .content {
    margin-bottom: 160px;

    @include _768 {
      margin-bottom: 20px;
    }

    .title {
      font-weight: bold;
      font-size: 112px;
      line-height: 112px;
      color: #ffffff;
      margin-bottom: 12px;

      @include _960 {
        font-size: 74px;
        line-height: 74px;
      }

      @include _768 {
        font-size: 44px;
        line-height: 44px;
      }
    }

    .text {
      margin-top: 0;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      color: #ffffff;
      margin-bottom: 32px;

      @include _960 {
        max-width: 400px;
        font-size: 20px;
      }

      @include _768 {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  .icons {
    width: 80px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      cursor: pointer;
    }
  }
}
