.trending {
  margin: 36px auto 100px;
  padding: 0 70px 38px;
  overflow-x: hidden;
  max-width: 1440px;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1768px;
  }
}
