@import 'sources/styles/media-mixin.scss';

.trending {
  margin: 36px auto 100px;
  padding: 0 70px 38px;
  overflow: hidden;
  max-width: 1440px;

  @include _1920 {
    padding: 0;
  }

  @include _1440 {
    padding: 0 70px 38px;
  }

  @include _960 {
    padding: 31px 20px 24px;
    margin-bottom: 36px;
  }

  @include _600 {
    margin: 16px auto 30px;
    padding: 15px 16px 12px;
    max-height: none;

    input {
      margin: 22px 0 0;
      width: 100%;
    }

    h3 {
      margin-left: 0 !important;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1768px;
    transition: all 0.5s ease;
    position: relative;
    left: 0;

    @include _600 {
      height: 408px;
    }
  }
}


