@import 'sources/styles/media-mixin.scss';

.trending {
  margin: 36px auto 100px;
  padding: 0 70px 38px;
  overflow: hidden;
  max-width: 1440px;

  // .slider {
  //   min-width: 3000px !important;

  //   @include _1000 {
  //     min-width: 2000px !important;
  //   }
  // }

  .title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    position: relative;

    @include _600 {
      margin-left: 16px;
    }
  }

  .mobileArrow {
    position: relative;
    top: 8px;
    display: none;

    @include _600 {
      display: inline;
    }

    path:nth-child(1) {
      fill: var(--color-toggle-background) !important;
    }

    path:last-child {
      fill: var(--color-toggle-icon);
    }

    &:hover {
      path {
        fill-opacity: 0.6;
      }
    }
  }

  @include _1920 {
    padding: 0;
  }

  @include _1440 {
    padding: 0 70px 38px;
  }

  @include _960 {
    padding: 31px 20px 24px;
    margin-bottom: 36px;
  }

  @include _600 {
    margin: 16px auto 30px;
    padding: 15px 16px 12px;
    max-height: none;

    input {
      margin: 22px 0 0;
      width: 100%;
    }

    h3 {
      margin-left: 0 !important;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1768px;
    transition: all 0.5s ease;
    position: relative;
    left: 0;

    @include _600 {
      height: 408px;
    }
  }
}


