@import 'sources/styles/media-mixin.scss';

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px;
  box-sizing: border-box;

  @include _768 {
    min-width: 100%;
  }

  .text {
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: #ffffff;
    margin-bottom: 12px;

    @include _600 {
      font-size: 43px;
    }
  }
}

.small {
  height: 474px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-position-x: center;
  background-position-y: inherit;

  @include _768 {
    width: 100%;
    margin-left: 0;
    background-position-y: inherit;
  }

  @include _600 {
    height: 275px;
  }
}

.middle {
  height: 515px;
  margin-right: 10px;

  @include _960 {
    width: 100%;
    background-position: inherit;
  }

  @include _768 {
    width: inherit;
    min-width: 0;
    height: 500px;
    margin-right: 0;
  }

  @include _600 {
    background-position: center;
  }
}

.big {
  height: 970px;

  @include _1000 {
    width: 100%;
    background-position-y: inherit;
  }

  @include _768 {
    background-position-x: right;
  }

  @include _600 {
    height: 572px;
  }
}
