@import 'sources/styles/media-mixin.scss';

.footerNav {

  @include _600 {
    display: inline-block;
  }

  .title {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    color: #1e1e22;
  }

  .nav {
    list-style: none;
    padding-left: 0;

    @include _600 {
      column-count: 1 !important;
    }

    li {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.6);
      padding-bottom: 16px;
      padding-right: 105px;

      @include _1440 {
        padding-right: 40px;
      }

      @include _820 {
        max-width: 200px;
      }
    }
  }
}
