@import 'sources/styles/media-mixin.scss';

.wrapper {
  background-color: var(--primary-color-page-background);
  position: absolute;
  width: 100%;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
  top: -1000px;
  z-index: 20;
  left: 0;

  @include _960 {
    padding-top: 100px;
    max-width: 100%;
  }

  @include _768 {
    box-sizing: border-box;
    padding: 100px 50px 40px;
    max-width: 100%;
  }

  @include _768 {
    padding: 100px 20px 30px;
  }

  .inputWrapper {
    position: relative;

    @include _600 {
      display: flex;
    }

    .search {
      width: 620px;
      background: rgba(0, 0, 0, 0.06);
      border-radius: 8px;
      border: none;
      margin: 0 auto;
      padding: 8px 12px 8px 54px;
      color: var(--color-text);
      position: relative;
      border: 1px solid var(--subcolor-text);

      @include _768 {
        width: 100%;
        padding-left: 40px;
      }

      &::placeholder {
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: var(--subcolor-text);
      }
    }

    .searchIcon {
      position: absolute;
      top: 6px;
      left: 16px;

      @include _768 {
        left: 8px;
      }

      path {
        fill: var(--color-toggle-icon);
      }
    }
  }

  .reset {
    width: 680px;
    text-align: left;
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-text);

    @include _768 {
      width: 100%;
    }
  }

  .option {
    width: 680px;
    text-align: left;
    margin: 0 0 15px;
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-text);

    @include _768 {
      max-width: 100%;
      text-align: left;
    }

    svg {
      position: absolute;
      top: 6px;
      right: 0;
      color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover path {
        opacity: 0.6;
      }

      path {
        fill: var(--color-toggle-icon);
      }
    }
  }

  .closeField {
    position: absolute;
    right: 37px;
    top: 42px;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover path {
      opacity: 0.6;
    }

    path {
      fill: var(--color-toggle-icon)
    }
  }
}
