.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color-page-background);
  // max-width: 1440px;
  margin: 0 auto;
  padding: 31px 70px 24px;
}