.dontMiss {
  margin: 0 auto;
  padding: 0 70px 38px;
  margin-bottom: 100px;
  overflow-x: hidden;
  max-width: 1440px;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1992px;
  }
}