@import 'sources/styles/media-mixin.scss';

.categories {
  margin: 0 auto;
  padding: 0 70px 38px;
  margin-bottom: 100px;
  overflow: hidden;
  max-width: 1440px;

  .title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    position: relative;

    @include _600 {
      margin-left: 16px;
    }
  }

  .mobileArrow {
    position: relative;
    top: 8px;
    display: none;

    @include _600 {
      display: inline;
    }

    path:nth-child(1) {
      fill: var(--color-text) !important;
    }

    path:last-child {
      fill: var(--color-toggle-background);
    }

    &:hover {
      path {
        fill-opacity: 0.6;
      }
    }
  }

  .bigImg {
    margin-right: 20px;
    position: relative;
    left: 0;

    @include _768 {
      margin-right: 0;
      width: 100%;
    }
  }

  .itemsWrapper {
    display: flex;
  }

  .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;

    @include _768 {
      flex-direction: row;
      margin-right: 0;
    }
  }

  @include _1920 {
    padding: 0;
  }

  @include _1440 {
    padding: 0 70px 38px;
  }

  @include _960 {
    padding: 31px 20px 24px;
    margin-bottom: 36px;
  }

  @include _600 {
    margin: 16px auto 30px;
    padding: 15px 0 12px;
  }
}
