@import 'sources/styles/media-mixin.scss';

.footer {
  background-color: var(--secondary-color-page-background);
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 42px 70px;
    margin: 0 auto;
    position: relative;

    @include _960 {
      padding: 31px 20px 24px;
    }

    @include _820 {
      flex-direction: column;
    }

    @include _600 {
      padding: 51px 16px 12px;
    }

    .logoWrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      @include _1440 {
        flex-direction: column;
        justify-content: flex-start;
      }

      @include _820 {
        margin-bottom: 20px;
      }

      .logo {
        margin-right: 12px;
        
        @include _1440 {
          margin-bottom: 22px;
        }
      }
    }

    .socialLinksWrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;

      @include _820 {
        align-items: flex-start;
      }

      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 49px;
        width: 146px;
        margin-top: 6px;
        padding-left: 0;

        @include _600 {
          position: absolute;
          right: 32px;
          bottom: 0;
          margin-bottom: 31px;
        }
      }

      .footerBtn {
        @include _600 {
          position: absolute;
          right: 32px;
          top: 92px;
        }
      }
    }
  }

  .bottom {
    background-color: var(--primary-color-page-background);
    padding: 16px 70px;
    margin: 0 auto;
    display: flex;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: 24px;

    @include _960 {
      padding: 12px 20px;
    }

    @include _600 {
      padding: 12px 16px;
    }

    .place {
      flex: 1;
      display: flex;
      align-items: center;

      svg {
        margin-right: 10px;
      }
    }

    .last {
      margin-left: 37px;
    }
  }

  .navWrapper {
    display: flex;
    justify-content: space-between;

    @include _820 {
      flex-direction: column;
    }

    @include _600 {
      flex-direction: row;
    }
  }
}