@import 'sources/styles/media-mixin.scss';

.icons {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  list-style: none;
  width: 220px;
  padding-left: 0;

  @include _768 {
    justify-content: flex-end;
  }

  .favoriteIcon, .basketIcon, .userIcon, .infoIcon {
    @include _768 {
      display: none;
    }
  }

  .burgerIcon {
    display: none;

    path {
      fill: #000000;
    }
    
    @include _768 {
      display: block;
      margin-left: 24px;
    }
  }
}