@import 'sources/styles/media-mixin.scss';

.icons {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  list-style: none;
  width: 220px;
  padding-left: 0;

  @include _768 {
    justify-content: flex-end;
    align-items: center;
  }

  .favoriteIcon, .basketIcon, .userIcon, .infoIcon {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      path {
        opacity: 0.6;
      }
    }

    path {
      fill: var(--color-toggle-icon);
    }

    @include _768 {
      display: none;
    }
  }

  .searchIcon, .infoIcon {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      path {
        opacity: 0.6;
      }
    }

    path {
      fill: var(--color-toggle-icon);
    }
  }

  .infoIcon {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      path {
        opacity: 0.6;
      }
    }

    path {
      stroke: var(--color-toggle-icon);
    }
  }

  .burgerIcon {
    display: none;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      path {
        opacity: 0.6;
      }
    }

    path {
      fill: var(--color-toggle-icon);
    }
    
    @include _768 {
      display: block;
      margin-left: 24px;
    }
  }
}