$dark-primary-bg-color: #1e1e22;
$dark-secondary-bg-color: #000000;

$dark-primary-text-color: #ffffff;
$dark-secondary-text-color-opacity: rgba(255, 255, 255, 0.6);

$dark-toggle-bg-color: #1e1e22;
$dark-toggle-icon-color: #000000;
