$dark-primary-bg-color: #0a0a0e;
$dark-secondary-bg-color: #000000;

$dark-primary-text-color: #ffffff;
$dark-primary-text-color-opacity: rgba(255, 255, 255, 0.6);

$dark-toggle-bg-color: rgba(255, 255, 255, 0.06);
$dark-toggle-icon-color: #000000;
