$light-primary-bg-color: #f2f2f2;
$light-secondary-bg-color: #ffffff;

$light-primary-text-color: #000000;
$light-primary-text-color-opacity: rgba(0, 0, 0, 0.6);

$light-toggle-bg-color: #f2f2f2;
$light-toggle-icon-color: #ffffff;

$light-gray-text-color: #1e1e22;         