@import 'sources/styles/media-mixin.scss';

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  margin-bottom: 28px;

  @include _600 {
    margin-bottom: 16px;
  }

  .title {
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    position: relative;

    @include _600 {
      margin-left: 16px;
    }
  }

  .mobileArrow {
    position: relative;
    top: 8px;
    display: none;

    @include _600 {
      display: inline;
    }

    path:nth-child(1) {
      fill: var(--color-toggle-background) !important;
    }

    path:last-child {
      fill: var(--color-toggle-icon);
    }

    &:hover {
      path {
        fill-opacity: 0.6;
      }
    }
  }

  .arrowsWrapper {
    width: 80px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include _768 {
      display: none;
    }

    svg {
      cursor: pointer;
      transition: all 0.5s ease;

      path + path {
        fill: var(--color-toggle-icon);
      }

      &:hover path + path {
        opacity: 0.6;
      }
    }
  }
}
