@import 'sources/styles/media-mixin.scss';

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  margin-bottom: 28px;

  @include _600 {
    margin-bottom: 16px;
  }

  .title {
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;

    @include _600 {
      margin-left: 16px;
    }
  }

  .arrowsWrapper {
    width: 80px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include _768 {
      display: none;
    }

    svg {
      cursor: pointer;
    }
  }
}
