.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  margin-bottom: 28px;

  .title {
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
  }

  .arrowsWrapper {
    width: 80px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      cursor: pointer;
    }
  }
}
